<p id="notice"><%= notice %></p>

<p>
  <strong>At date:</strong>
  <%= @desconcierto.at_date %>
</p>

<p>
  <strong>Url1:</strong>
  <%= @desconcierto.url1 %>
</p>

<p>
  <strong>Url2:</strong>
  <%= @desconcierto.url2 %>
</p>

<p>
  <strong>Url3:</strong>
  <%= @desconcierto.url3 %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @desconcierto.obs %>
</p>

<%= link_to 'Edit', edit_desconcierto_path(@desconcierto) %> |
<%= link_to 'Back', desconciertos_path %>
