  <tr>
    <td width="10%"><%= Station.find(stream.station_id).name if stream.station_id? %> </td>
    <td width="20%"><%= stream.name %></td>
    <td width="10%"><%= stream.url_type %></td>
    <td width="10%"><%= stream.source_type %></td>
    <td width="10%"> <%=stream.use_web%> </td>
    <td width="10%"> <%=stream.listen_is_working%> </td>
    <td width="10%">
        <% if stream.listen_is_working and streamUrlIsAudio?(stream.url_type) %> 
        <%= audio_tag(stream.name, controls: true)  %> 
        <% end %> 
    </td>
    <td width="10%"><%= link_to 'Edit', edit_stream_path(stream), class: "btn btn-success" %></td>
    <td width="10%"><%= link_to 'Destroy', stream, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
